:root {
  --dark: #333;
  --light: #F5F5F5;
  --blue: #2ba1e0;
  --dark-blue: #3D6A80;
  --box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark);
    color: var(--light);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light);
    color: var(--dark);
  }
}

* {
  margin:0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

main {
  max-width: 800px;
  margin: 10vh auto;
}
.header {
  background: url("../img/4886.jpg") center no-repeat;
  background-size: cover;

  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);

  color: var(--blue);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header > p {
  font-size: 1.5em;
  color: var(--light);
}

h1 {
  font-size: 6em;
}
h2 {
  font-size: 2em;
  color: var(--blue);
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-header > span {
  color: var(--dark-blue);
}

blockquote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5rem 0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 0 1 46%;

  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  margin: 0.5rem;
  padding: 0.5rem;
}

.card > .dish {
  flex: 10;
}

.card > .price {
  flex: 1;

  display: flex;
  justify-content: flex-end;

  font-size: 1em;
  font-weight: bold;
}

.card > .price:before {
  content: '€';
}

.card > .price:after {
  content: ',-';
}
