:root {
  /*--blob: hsl(66, 77%, 44%);*/
  /*--font-dark: #333;*/
  /*--font-light: #F5F5F5;*/
  --background: hsl(0, 0%, 20%);
  --shades: 0 0 5px 0 rgba(0, 0, 0, 0.16);

  --dark: hsl(0, 0%, 20%);
  --light: hsl(0, 0%, 96%);
  --blue: hsl(201, 74%, 52%);
  --dark-blue: hsl(200, 35%, 37%);
  --light-blue: hsl(201, 85%, 79%);
  --lightgray: hsl(0, 0%, 69%);
  --card-dark: hsl(0, 0%, 15%);
  --card-light: hsl(0, 0%, 93%);
  --nav: hsla(0, 0%, 20%, 0.5);
  --box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  position: relative;
}

* {
  margin: 0;
}

h1 {
  font-size: 6vw;
  margin: 0;
  transition: 5s;
}

/*background-clip inspiration: https://www.youtube.com/watch?v=9Kr3T4Ndl-o*/
h2 {
  font-size: 4vw;
  text-transform: uppercase;

  margin-bottom: 0;

  background-image: url("../img/134.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h3 {
  font-size: 1.6vw;
}

cite,
label,
span,
p {
  font-size: 1.4vw;
}

/*inspiration: https://css-tricks.com/the-checkbox-hack/*/
nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;

  background: var(--nav);

  position: fixed;
  width: 100vw;
  top: 0;

  z-index: 999;
}

nav > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1vw;
}

input[type="checkbox"] {
  display: none;
}

nav > div > label {
  cursor: context-menu;
}

nav > div > section > blockquote,
nav > div > section > div {
  opacity: 0;
  max-height: 0;
}

input[type="checkbox"]:checked ~ label ~ section > blockquote,
input[type="checkbox"]:checked ~ label ~ section > div {
  opacity: 1;
  max-height: 100vh;
}

/*inspiration: https://codepen.io/Ninaiskel/pen/MWWgMwL < blob*/
/*inspiration: https://dev.to/equinusocio/making-a-css-blob-37nb < border-radius*/
/*inspiration: http://jsfiddle.net/1fevoyze/ < div as background*/
section > div[data-bind='background--blob'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: var(--light-blue);
  box-shadow: var(--shades);

  animation: blob 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: all 1s;

  height: 80vh;
  width: 80vw;

  position: absolute;
  top: 10vh;
  left: 10vw;

  z-index: 1000;
}

@keyframes blob {
  0% {
    border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
/*end inspiration links*/

div header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

blockquote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;

  position: absolute;
  top: 10vh;
  right: 15vw;

  width: 12vw;
  height: 12vw;

  background-color: #fff;
  border-radius: 50%;
  box-shadow: var(--box-shadow);

  z-index: 1001;
}

section > div[data-bind='background--blob'] > div {
  display: block;
  margin: 1.5rem 0;

  width: 50%;
  height: 50%;
  overflow-y: scroll;
}

/*credits: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_hide_scrollbar_keep_func*/
/* Hide scrollbar for Chrome, Safari and Opera */
section > div[data-bind='background--blob'] > div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
section > div[data-bind='background--blob'] > div {
  -ms-overflow-style: none;
}

section > div[data-bind='background--blob'] > div > article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: var(--card-light);

  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  margin: 0.5rem;
  padding: 0.5rem;
}

div[data-bind='dish'] {
  flex: 10;
}

div[data-bind='dish'] h3 {
  margin: 0;
}

div[data-bind='dish'] p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

div[data-bind='price'] {
  flex: 1;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

div[data-bind='price'] > p {
  font-size: 1.6vw;
  font-weight: bold;

  margin: 0;
}

div[data-bind='price']> p:before {
  content: '€';
}

div[data-bind='price'] > p:after {
  content: ',-';
}

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: inherit;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 998;
}

div[data-bind='header-2'],
header[data-bind='header'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-box-shadow: var(--shades);
  -moz-box-shadow: var(--shades);
  box-shadow: var(--shades);

  position: absolute;

  height: 100vh;
  width: 100vw;
}

/*clip-path credits: https://www.youtube.com/watch?v=YjnuuqVdadI*/

header[data-bind='header'] {
  background: var(--blue);

  clip-path: polygon(0 0, 61% 0, 44% 100%, 0 100%);
}

div[data-bind='header-2'] > div > p,
header[data-bind='header'] > div > p {
  font-size: 1.5em;
  text-align: center;
}

header[data-bind='header'] > div,
header[data-bind='header'] > div {
  color: var(--light);
}

div[data-bind='header-2'] > div,
div[data-bind='header-2'] > div {
  color: var(--blue);
}

/*img {*/
/*  filter: drop-shadow(0px 0px 5px rgba(0,0,0,.12));*/
/*}*/

/*cursor: https://www.youtube.com/watch?v=nMgB-GQzEdQ*/
