:root {
    --shades: 0 0 5px 0 hsla(0, 0%, 0%, 0.16);
    --box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, 0.16), 0 2px 10px 0 hsla(0, 0%, 0%, 0.16);
    --drop-shadow: drop-shadow(0px 0px 5px rgba(0, 0, 0, .12));

    --light: hsl(0, 0%, 96%);
    --blue: hsl(201, 74%, 52%);
    --light-opacity: hsla(0, 0%, 96%, 0.5);
    --blue-opacity: hsla(201, 74%, 52%, 0.5);
    --blue-opacity-2: hsla(201, 74%, 52%, 0.16);
    --gradient-opacity: linear-gradient(90deg, var(--light-opacity) 0%, var(--blue-opacity) 100%);
    --gradient: linear-gradient(90deg, var(--light) 15%, var(--blue) 100%);

    --border-radius--blob-1: 65% 45% 35% 75% / 65% 35% 75% 45%;
    --border-radius--blob-2: 35% 65% 75% 45% / 55% 65% 35% 65%;

    --shape-1: polygon(93% 0, 100% 84%, 13% 100%, 0 11%);
    --shape-2: polygon(100% 6%, 100% 91%, 6% 100%, 0 0);
    --shape-3: polygon(100% 0, 94% 100%, 13% 100%, 0 11%);
    --shape-4: polygon(100% 0, 100% 84%, 3% 100%, 0 15%);
    --shape-5: polygon(100% 16%, 94% 100%, 3% 100%, 0 0);
    --shape-6: polygon(100% 0, 89% 100%, 0 100%, 8% 4%);
    --shape-7: polygon(100% 4%, 89% 100%, 4% 100%, 0 1%);
    --shape-8: polygon(95% 0, 100% 88%, 0 100%, 4% 9%);
    --shape-9: polygon(100% 8%, 96% 90%, 6% 100%, 0 0);
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    position: relative;
    cursor: url(../img/cursor/cursor-pizza.png), auto;
}

* {
    margin: 0;
}

h1 {
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
    font-size: calc(22px + (100 - 22) * ((100vw - 300px) / (1600 - 300)));
    margin: 0;
}

h2 {
    font-size: calc(26px + (75 - 26) * ((100vw - 300px) / (1600 - 300)));
    color: transparent;
    text-transform: uppercase;
    background-image: url("../img/134.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 0;
}

h3 {
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
}

cite,
label,
span,
p {
    font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
}

nav {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    background: var(--gradient-opacity);
    width: 100vw;
    top: 0;
    z-index: 999;
}

nav > div {
    display: flex;
    padding: 1vw;
}

input[type="radio"] {
    display: none;
}

label[for] {
    cursor: url(../img/cursor/cursor-chicken.png), context-menu;
    mix-blend-mode: soft-light;
}

label[for]:hover {
    mix-blend-mode: darken;
}

nav > div > section > blockquote {
    opacity: 0;
}

nav > div > section > div {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

input[type="radio"]:checked ~ label ~ section > blockquote {
    opacity: 1;
}

input[type="radio"]:checked ~ label ~ section > div {
    max-height: 100vh;
}

article:nth-child(even) {
    transform: skew(10deg);
    animation: skewing-even 5s linear infinite alternate;
}

article:nth-child(odd) {
    transform: skew(-10deg);
    animation: skewing-odd 5s linear infinite alternate;
}
section > div[data-bind='background--blob'] {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--gradient);
    box-shadow: var(--shades);
    animation: blob 25s ease-in-out infinite;
    border-radius: var(--border-radius--blob-1);
    transition: all 1s;
    height: 80vh;
    width: 80vw;
    top: 10vh;
    left: 10vw;
    z-index: 1000;
    cursor: url(../img/cursor/cursor-taco.png), auto;
}

div header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

blockquote {
    position: absolute;
    top: calc(45px + (100 - 45) * ((100vw - 300px) / (1600 - 300)));
    right: calc(25px + (175 - 25) * ((100vw - 300px) / (1600 - 300)));
    z-index: 1001;
}

div[data-bind='shape'] > div > p,
div[data-bind='shape'] > div > cite {
    mix-blend-mode: overlay;
}

div[data-bind='shape'] {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(125px + (275 - 125) * ((100vw - 300px) / (1600 - 300)));
    height: calc(125px + (275 - 125) * ((100vw - 300px) / (1600 - 300)));
}

div[data-bind='shape'] > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.17, .67, .83, .67);
}

div[data-bind='shape'] div:nth-child(1) {
    background: var(--light-opacity);
    filter: var(--drop-shadow);
    width: 98%;
    height: 98%;
    animation-name: morph-9;
}

div[data-bind='shape'] div:nth-child(2) {
    background: var(--blue-opacity);
    width: 87.5%;
    height: 87.5%;
    mix-blend-mode: color-burn;
    animation-name: morph-1;
}

div[data-bind='shape'] div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--blue);
    width: 75%;
    height: 75%;
    mix-blend-mode: luminosity;
    animation-name: morph-4;
}

section > div[data-bind='background--blob'] > div {
    display: block;
    margin: 1.5rem 0;
    width: 65%;
    height: 50%;
    overflow-y: scroll;
}

section > div[data-bind='background--blob'] > div::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
/*section > div[data-bind='background--blob'] > div {*/
/*    -ms-overflow-style: none;*/
/*}*/

section > div[data-bind='background--blob'] > div > article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--blue);
    mix-blend-mode: multiply;
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    margin: 0.5rem;
    padding: 0.5rem;
    cursor: url(../img/cursor/cursor-chilli-sauce.png), auto;
}

span,
div[data-bind='dish'],
div[data-bind='price'] {
    mix-blend-mode: overlay;
}

div[data-bind='dish'] {
    flex: 10;
}

div[data-bind='dish'] p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

div[data-bind='price'] {
    flex: 1;
    display: flex;
    justify-content: center;
}

div[data-bind='price'] > p {
    font-weight: bold;
}

div[data-bind='price'] > p:before {
    content: '€';
}

div[data-bind='price'] > p:after {
    content: ',-';
}

main {
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 998;
}

div[data-bind='header-2'],
header[data-bind='header'] {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shades);
    height: 100vh;
    width: 100vw;
}

header[data-bind='header'] {
    background: var(--blue);
    clip-path: polygon(0 0, 61% 0, 44% 100%, 0 100%);
}

div[data-bind='header-2'] > div > p,
header[data-bind='header'] > div > p {
    font-size: calc(12px + (30 - 12) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
}

header[data-bind='header'] > div {
    color: var(--light);
}

div[data-bind='header-2'] > div {
    color: var(--blue);
}

header[data-bind='header'] > div,
div[data-bind='header-2'] > div {
    animation: sliding 5s linear infinite alternate;
}

body > section {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    bottom: 0;
    z-index: 1002;
    /*background: url(../img/svg/donut-pink.svg) 5% 50% no-repeat, url(../img/svg/union-rings.svg) 25% 50% no-repeat ,url(../img/svg/milkshake.svg) 50% 50% no-repeat, url(../img/svg/cupcake.svg) 75% 50% no-repeat, url(../img/svg/donut-yellow.svg) 95% 50% no-repeat;*/
    /*background-size: 50px auto;*/
}

svg {
    width: calc(25px + (50 - 25) * ((100vw - 300px) / (1600 - 300)));
    height: auto;
    filter: var(--drop-shadow);
}

section > svg:first-child {
    margin-left: calc(20px + (40 - 20) * ((100vw - 300px) / (1600 - 300)));
}

section > svg:last-child {
    margin-right: calc(20px + (40 - 20) * ((100vw - 300px) / (1600 - 300)));
}

svg:hover {
    animation: rotate 2s linear infinite;
}

/*SVGs Colors*/
svg:nth-child(2) > g > g > path:nth-child(1) {
    fill: hsl(37, 100%, 61%);
}

svg:nth-child(2) > g > g > path:nth-child(2) {
    fill: hsl(24, 100%, 50%);
}

svg:nth-child(3) > g > g > path:nth-child(1) {
    fill: hsl(59, 100%, 90%);
}

svg:nth-child(3) > g > g > path:nth-child(2) {
    fill: hsl(187, 74%, 88%);
}

svg:nth-child(3) > g > g > path:nth-child(4) {
    fill: hsl(333, 100%, 93%);
}

svg:nth-child(1) > g > g > path:nth-child(2),
svg:nth-child(3) > g > g > path:nth-child(3),
svg:nth-child(4) > g > g > path:nth-child(1) {
    fill: hsl(332, 100%, 79%);
}

svg:nth-child(4) > g > g > path:nth-child(2) {
    fill: hsl(12, 100%, 50%);
}

svg:nth-child(1) > g > g > path:nth-child(1),
svg:nth-child(5) > g > g > path:nth-child(1) {
    fill: hsl(39, 76%, 57%);
}

svg:nth-child(1) > g > g > path:nth-child(3),
svg:nth-child(4) > g > g > path:nth-child(3),
svg:nth-child(5) > g > g > path:nth-child(2) {
    fill: hsl(54, 100%, 51%);
}

svg:nth-child(1) > g > g > path:nth-child(4),
svg:nth-child(2) > g > g > path:nth-child(3),
svg:nth-child(3) > g > g > path:nth-child(5),
svg:nth-child(4) > g > g > path:nth-child(4),
svg:nth-child(5) > g > g > path:nth-child(3) {
    fill: hsl(29, 60%, 17%);
}

/*SVG Cursor*/
svg:nth-child(1) {
    cursor: url(../img/cursor/cursor-coffee-to-go.png), auto;
}

svg:nth-child(2) {
    cursor: url(../img/cursor/cursor-union-rings.png), auto;
}

svg:nth-child(3) {
    cursor: url(../img/cursor/cursor-hamburger.png), auto;
}

svg:nth-child(4) {
    cursor: url(../img/cursor/cursor-soda.png), auto;
}

svg:nth-child(5) {
    cursor: url(../img/cursor/cursor-coffee.png), auto;
}

@media (prefers-reduced-motion: reduce) {
    section > div[data-bind='background--blob'],
    header[data-bind='header'] > div,
    div[data-bind='header-2'] > div,
    article:nth-child(odd),
    article:nth-child(even),
    svg:hover,
    div[data-bind='shape'] div {
        animation: none;
    }

    article:nth-child(odd),
    article:nth-child(even) {
        transform: none;
    }

    body,
    section > div[data-bind='background--blob'],
    section > div[data-bind='background--blob'] > div > article,
    svg:nth-child(1),
    svg:nth-child(2),
    svg:nth-child(3),
    svg:nth-child(4),
    svg:nth-child(5) {
        cursor: auto;
    }

    label[for] {
        cursor: default;
    }

    div[data-bind='shape'] div:nth-child(1) {
        clip-path: var(--shape-3);
    }

    div[data-bind='shape'] div:nth-child(2) {
        clip-path: var(--shape-1);
    }

    div[data-bind='shape'] div:nth-child(3) {
        clip-path: var(--shape-4);
    }
}

@keyframes skewing-even {
    0% {
        transform: skew(10deg);
    }
    50% {
        transform: skew(0deg);
    }
    100% {
        transform: skew(-10deg);
    }
}

@keyframes skewing-odd {
    0% {
        transform: skew(-10deg);
    }
    50% {
        transform: skew(0deg);
    }
    100% {
        transform: skew(10deg);
    }
}

@keyframes blob {
    0% {
        border-radius: var(--border-radius--blob-1);
    }

    50% {
        border-radius: var(--border-radius--blob-2);
    }

    100% {
        border-radius: var(--border-radius--blob-1);
    }
}

@keyframes sliding {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(10vw, 0);
    }
    75% {
        transform: translate(-10vw, 0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes morph-1 {
    0% {
        clip-path: var(--shape-1);
    }
    20% {
        clip-path: var(--shape-2);
    }
    40% {
        clip-path: var(--shape-3);
    }
    60% {
        clip-path: var(--shape-4);
    }
    80% {
        clip-path: var(--shape-5);
    }
    100% {
        clip-path: var(--shape-1);
    }
}

@keyframes morph-4 {
    0% {
        clip-path: var(--shape-4);
    }
    20% {
        clip-path: var(--shape-9);
    }
    40% {
        clip-path: var(--shape-8);
    }
    60% {
        clip-path: var(--shape-7);
    }
    80% {
        clip-path: var(--shape-6);
    }
    100% {
        clip-path: var(--shape-4);
    }
}

@keyframes morph-9 {
    0% {
        clip-path: var(--shape-9);
    }
    20% {
        clip-path: var(--shape-5);
    }
    40% {
        clip-path: var(--shape-3);
    }
    60% {
        clip-path: var(--shape-7);
    }
    80% {
        clip-path: var(--shape-5);
    }
    100% {
        clip-path: var(--shape-9);
    }
}
